body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

.navbar{
    height: 5rem;
    background-color: #ffffff;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

/* FOOTER */
.f-info-social a{
    text-decoration: none;
    color:#222222;
}

.f-info-social a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-social, .f-info-brand{
    width:100%;
    align-items: center;
    display:flex;
    justify-content: center;
}

.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card{
    border:none !important;
    margin-top: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}


/* card effect */


.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity: 0.3;
    background-color: #fff;
}


/* add new listing form */

.form-label{
    font-weight: 500;
}

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}


/* edit listing form */

.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
}


/* Show page */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0 !important;
    padding-right: 0 !important;
}